

<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if site.browserTitle %}{{site.browserTitle}}{% else %}{% if page.breadcrumb %}{{ page.breadcrumb }} |{% endif %}{{site.title}} | NSW Government{% endif %}</title>
  <meta name="robots" content="noindex" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="{{ site.baseurl }}/assets/favicons/favicon.ico">
  <link rel="stylesheet" href="https://docs.nsw.digital/css/main.css">
  <link rel="icon" href="{{ site.baseurl }}/assets/css/article-listing.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
  <!-- <style>
    img { filter: grayscale(100%) !important;}
    .nsw-card__content { border-top: 6px solid #757575 !important;}
    .nsw-infobar, .nsw-masthead {background-color: #333;}
    .nsw-body-content blockquote, .nsw-wysiwyg-content blockquote {border-left: 6px solid #757575 !important;}
  </style> -->
  <script>
   // SVG Sprite Loader
   var svgAjax = new XMLHttpRequest();
   svgAjax.open("GET", "https://cdn.jsdelivr.net/npm/nsw-design-system/dist/assets/svg/sprite.svg", true);
   svgAjax.send();
   svgAjax.onload = function(e) {
     var fragment = document.createRange().createContextualFragment(svgAjax.responseText);
     var svg = fragment.querySelector('svg')
     svg.setAttribute('aria-hidden', true);
     svg.style.cssText = 'position: absolute; width: 0; height: 0; overflow: hidden;'
     document.body.insertBefore(fragment, document.body.childNodes[0]);
   };
 </script>

<style>
.nsw-card__title {
  font-size: 1.25rem !important;
  line-height: 1.33 !important;
}
</style>


</head>

<body >

<div class="nsw-masthead">
  <div class="nsw-container">
    <p>A NSW Government website</p>
  </div>
</div>
<header class="nsw-header nsw-header--simple">
  <div class="nsw-header__container">
    <div class="nsw-header__wrapper">
      <div class="nsw-header__center">
        <a href="#" class="nsw-header__logo-link">
          <img class="site-logo" src="https://www.digital.nsw.gov.au//themes/custom/corporateplus/nsw-digitalnsw-combined.svg?v=20191114111300" alt="digital.nsw">
          <span class="sr-only">{{ site.title }}</span>
        </a>
      </div>
    </div>
</header>

<main>
  <div class="nsw-section--white">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
        	<div class="nsw-wysiwyg-content">

            {{ content }}

					</div>
        </div>
      </div>
    </div>
  </div>
</main>
  <script src="{{ site.baseurl }}/assets/js/main.js"></script>
  <script>window.NSW.initSite()</script>
</body>
</html>
